body{
color:white ;
}
.container {
  position: absolute;
  margin-left:450px;
  height: 570px;
  width: 280px;
  padding: 16px;
 background: linear-gradient(to top,#33CCFF 0%, #FF99CC 100%);	
}
input{
border:2px solid #FFC433;
border-radius:20px;
padding:8px;
}
button{
border:2px solid #FFC433;
border-radius:20px;
padding:6px;
}
